.hero {
    height: 650px;
    background: url("/public/images/accueil.jpg") center/cover no-repeat;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* overlay */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 20px;
}

.hero h2 {
    font-size: 42px;
    font-weight: 900;
    color: #ffffff;
    margin-bottom: 20px;
}

.hero p {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 30px;
}

/* BUTTONS */
.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-primary {
    padding: 14px 28px;
    border-radius: 25px;
    background: #ab1585;
    color: #ffffff;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background: #ffffff;
    color: #000000;
}

.btn-secondary {
    padding: 14px 28px;
    border-radius: 25px;
    background: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-weight: 700;
    cursor: pointer;
}

.btn-secondary:hover {
    background: #ffffff;
    color: #000000;
}

/* RESERVER */
.reserve {
    position: absolute;
    bottom: -50px;
}

@media (max-width: 768px) {
    .hero {
        height: auto;
        padding: 80px 0;
    }

}