.reserver-box {
    width: 100%;
    max-width: 730px;
    background: #000000;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}
.input-reserver{
    display: flex;
}
/* TITRE */
.reserver-box h3 {
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    margin: 10px;
}

/* INPUTS & SELECT */
.reserver-box select,
.reserver-box input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 14px;
}

/* CONFLICT */
.conflict {
    color: #ab1585;
    font-size: 13px;
    margin-bottom: 10px;
    text-align: center;
}

/* BUTTON */
.reserver-box button {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background: #ab1585;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
}

.reserver-box button:hover {
    background: #ffffff;
    color: #000000;
}

.reserver-box button:disabled {
    background: #444444;
    color: #aaaaaa;
    cursor: not-allowed;
}